<table class="links">
<% @links.each_with_index do |link, i| %>
	<tr>
		<td id="count">
			<% if i<9 %>
				<span id="one">
			<% else %>
				<span>
			<% end %>
			<%= "#{i+1}. " %></span><br /></td>
		<td id="button">
				<% if link.user_vote(current_user) == 1 %>
					<span id="disabled">
						<%= image_tag("grayarrow.gif", :border => 0) %>
					</span>
				<% elsif link.user_vote(current_user) == -1 %>
					<%= link_to image_tag("grayarrow.gif", :border => 0), 
						remove_vote_path(:id => link.id) %>
				<% else %>
					<%= link_to image_tag("grayarrow.gif", :border => 0), 
						up_vote_path(:id => link.id) %>
				<% end %>
				<% if link.user_vote(current_user) == -1 %>
					<span id="disabled">
						<%= image_tag("graydown.png", :border => 0) %>
					</span>
				<% elsif link.user_vote(current_user) == 1 %>
					<%= link_to image_tag("graydown.png", :border => 0),
						remove_vote_path(:id => link.id) %>
				<% else %>
					<%= link_to image_tag("graydown.png", :border => 0),
						down_vote_path(:id => link.id) %>
				<% end %>
		</td>
		<td><span id="title"><%= link_to link.title, link.url %></span>
				<span id="host"><%= "(#{host_only(link.url)})" %></span><br />
				<span id="second"><%= "#{link.score} points"%>
				<%= "by #{link.user.username}" %>
				<%= "#{time_ago_in_words(link.created_at)} ago" %></span></td>
	</tr>
<% end %>
</table>