<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @vote.value %>
</p>

<p>
  <b>User:</b>
  <%= @vote.user_id %>
</p>

<p>
  <b>Link:</b>
  <%= @vote.link_id %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
