<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="user_nav">  
	  <% if user_signed_in? %>  
			<%= "Signed in as #{extended_username}. Not you?" %>
	    <%= link_to "Sign out", destroy_user_session_path %>  
	  <% else %>  
	    <%= link_to "Sign up", new_user_registration_path %> or  
	    <%= link_to "Sign in", new_user_session_path %>  
	  <% end %>  
	</div>
	<%= link_to "Submit link", new_link_path %>
	<% if current_user and current_user.admin? %>
		<%= link_to "Edit links", links_path %>
		<%= link_to "Edit votes", votes_path %>
		<%= link_to "Front page", root_path %>
	<% end %>
	
<%= yield %>

</body>

<footer>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</footer>
</html>
