<!DOCTYPE html>
<html>
<head>
		<title>Slacker News</title>
  <%= stylesheet_link_tag 'reddit', 'scaffold', :media => :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<table class="header">
		<tr>
			<td id="logo">S</td>
			<td id="title">Slacker News</td>
			<td id="new"><%= link_to "submit", new_link_path %></td>
			<td id="admin">
				<% if current_user and current_user.admin? %>
					| <%= link_to "links", links_path %>
					| <%= link_to "votes", votes_path %>
				<% end %></td>
		  <td id="login">
				<% if user_signed_in? %>  
					<%= "#{extended_username} | " %>
			    <%= link_to "sign out", destroy_user_session_path %>  
			  <% else %>  
			    <%= link_to "sign up", new_user_registration_path %> or  
			    <%= link_to "sign in", new_user_session_path %>  
			  <% end %></td>
		</tr>
	</table>

<%= yield %>

</body>

<footer>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</footer>
</html>
